# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
#
# For more info see http://editorconfig.org

# Don't look for another .editorconfig file in parent directories
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation for json and yml files
[*.json, *.yml]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4
max_line_length = off
trim_trailing_whitespace = false
