// Global variables
// ----
// Set variables as default to allow easy ovverrides
// ------------------------------------------------------------------------ /

// Font & typography
// ------------------------------------------------------------------------ /

// Font family
$font-family: "futura-pt", "Open Sans", sans-serif !default;

// Font sizes
$font-size-3xl: 48px !default;
$font-size-2xl: 32px !default;
$font-size-1xl: 24px !default;
$font-size-lg: 20px !default;
$font-size-md: 18px !default;
$font-size-base: 16px !default;
$font-size-sm: 14px !default;
$font-size-xs: 12px !default;

// Font Weights
$font-3x-bold: 900 !default;
$font-2x-bold: 800 !default;
$font-1x-bold: 700 !default;
$font-semibold: 600 !default;
$font-medium: 500 !default;
$font-normal: 400 !default;
$font-1x-light: 300 !default;
$font-2x-light: 200 !default;
$font-3x-light: 100 !default;

// Line heights
$line-height-base: 1 !default;
$line-height-text: 1.3 !default;
$line-height-headings: 1.1 !default;

// Layout
// ------------------------------------------------------------------------ /

// Breakpoints
$bp-xl: 1200px !default;
$bp-lg: 992px !default;
$bp-md: 768px !default;
$bp-sm: 576px !default;
$bp-xs: 320px !default;

// Containers
$container-width: 960px !default;
$container-padding: 0 2rem !default;

// Grid
$grid-breakpoints: (
  "xs": $bp-xs,
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl,
) !default;
$grid-cols: 12 !default;
$grid-gutter: 1rem !default;

// Motion (animations & transitions)
// ------------------------------------------------------------------------ /
// Inspired by Google's Material Design
// https://material.io/design/motion/speed.html#

$motion-duration: (
  "slow-2x": 300ms,
  "slow-1x": 250ms,
  "default": 200ms,
  "fast-1x": 150ms,
  "fast-2x": 100ms,
  "fast-3x": 75ms,
) !default;

$motion-easing: (
  "decelerate": cubic-bezier(0, 0, 0.2, 1),
  "default": cubic-bezier(0.4, 0, 0.2, 1),
  "accelerate": cubic-bezier(0.4, 0, 1, 1),
) !default;

// Spacing
// ------------------------------------------------------------------------ /

$spacer: 1rem !default;

// UI
// ------------------------------------------------------------------------ /

// Borders
$border-color: rgb(232, 232, 232); // #E8E8E8
$border-radius: 8px !default;
$border-radius-sm: 4px !default;

// Other
$box-shadow: 0 2px 16px 0 rgba($grey-2x-dark, 0.12);

// Z-index
// ------------------------------------------------------------------------ /

$z-index: (
  "base": 1,
  "auto": 0,
  "cellar": -1
) !default;
