// Button
// ----
// ------------------------------------------------------------------------ /

$button-min-height: $spacer-2xl;
$button-hover-color: lighten($primary-yellow, 5%);

.a-button {
  @extend %button-reset;

  display: inline-block;
  min-height: $button-min-height;
  padding: $spacer-sm $spacer-1xl;

  font-family: inherit;
  font-size: $font-size-sm;
  font-weight: $font-1x-bold;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: $primary-yellow;
  border: 2px solid $primary-yellow;
  border-radius: $spacer-lg;
  color: $white;

  transition: transition("border-color"), transition("color");

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }
}

// Modifiers
// ------------------------------------------------------------------------ /

// Appearance
.a-button--outline {
  background-color: transparent;
  color: $primary-yellow;

  &:hover {
    background-color: transparent;
    border-color: lighten($button-hover-color, 10%);
    color: $button-hover-color;
  }
}

.a-button--transparent {
  background-color: transparent;
  border-color: transparent;
  color: $font-color;

  &:hover {
    background-color: transparent;
    border-color: transparent;
    color: $button-hover-color;
  }
}

// Icon
.a-button--icon {
  padding: 0 $spacer;

  text-align: center;

  .a-button__icon {
    font-size: $font-size-lg;
  }
}

.a-button--icon-left {
  .a-button__icon {
    margin-right: $spacer-1xs;
  }
}

.a-button--icon-right {
  .a-button__icon {
    margin-left: $spacer-1xs;
  }
}

// Color
.a-button--blue {
  background-color: $primary-blue;
  border-color: $primary-blue;

  &:hover {
    background-color: lighten($primary-blue, 5%);
    border-color: lighten($primary-blue, 5%);
  }

  &.a-button--outline {
    background-color: transparent;
    color: $primary-blue;

    &:hover {
      background-color: transparent;
      border-color: lighten($primary-blue, 5%);
      color: lighten($primary-blue, 5%);
    }
  }

  &.a-button--transparent {
    color: $primary-blue;

    &:hover {
      background-color: transparent;
      border-color: lighten($button-hover-color, 10%);
      color: $button-hover-color;
    }
  }
}

// Size
.a-button--fluid {
  display: block;
  width: 100%;
}
