// Loader
// ----
// ------------------------------------------------------------------------ /

@keyframes spin {
  to {
    transform: rotate(375deg);
  }
}

.a-loader {
  display: inline-flex;
}

// Elements
// ------------------------------------------------------------------------ /

.a-loader__indicator {
  width: 48px;
  height: 48px;

  animation: spin 1s infinite map-get($motion-easing, "default");
  border: 4px solid rgba($primary-blue, 0.2);
  border-radius: 50%;
  border-top-color: rgba($primary-blue, 0.8);
  transform: rotate(15deg);
}
