// Functions
// ----
// ------------------------------------------------------------------------ /

// Maps
// ------------------------------------------------------------------------ /
@function map-deep-get($_map, $_keys...) {
  @each $_key in $_keys {
    $_map: map-get($_map, $_key);
  }

  @return $_map;
}

// Units
// ------------------------------------------------------------------------ /
@function minus-1px($_val) {
  $current-unit: unit($_val);
  $unitless: unitless($_val);
  $stripped-val: strip-unit($_val);

  @if $current-unit != "px" {
    @warn "The given value `#{$_val}` should be in pixels.";
  }

  @if $unitless or $current-unit == "px" {
    @return $_val - 1px;
  }

  @if $current-unit == "em" or $current-unit == "rem" {
    $pixel-val: $stripped-val * $font-size-base;

    @return $pixel-val - 1px;
  }
}

@function rem($_pixel-value) {
  @return $_pixel-value / $font-size-base * 1rem;
}

// Layer z-index
// ------------------------------------------------------------------------ /
@function layer($_layer) {
  @if not map-has-key($z-index, $_layer) {
    @warn 'The layer `#{$_layer}` could not be found in the $z-index map.';
  }

  @return map-get($z-index, $_layer);
}

// Transition
// ------------------------------------------------------------------------ /
@function transition($_property, $_duration-key: "default", $_easing-key: "default", $_delay: 0ms) {
  $_easing: map-get($motion-easing, $_easing-key);
  $_duration: map-get($motion-duration, $_duration-key);

  @return unquote($_property) $_duration $_easing $_delay;
}
