// HTML
// ----
// ------------------------------------------------------------------------ /

html {
  overflow-x: hidden;

  font-family: $font-family;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  // Font variant
  font-variant-ligatures: none;
  // Smoothing
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
