// Placeholders
// ----
// ------------------------------------------------------------------------ /

%button-reset {
  border: none;
  cursor: pointer;
  outline: 0;
}

%heading {
  font-weight: $font-medium;
  line-height: $line-height-headings;
}

%q-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Enable Ligatures
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
  letter-spacing: 0;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
