// Typography helpers
// ----
// ------------------------------------------------------------------------ /

// Headings
// ------------------------------------------------------------------------ /

.u-h1 {
  font-size: $font-size-3xl;
}

.u-h2 {
  font-size: $font-size-2xl;
}

.u-h3 {
  font-size: $font-size-1xl;
}

.u-h4 {
  font-size: $font-size-lg;
}

.u-h5 {
  font-size: $font-size-md;
}

.u-h6 {
  font-size: $font-size-base;
}
